<div class="container-fluid">
  <h1 class="display-1 my-5 text-center">Settings</h1>
  <div class="d-grid gap-3 text-center">
    <span>Save your app data in a json file</span>
    <button class="btn btn-lg btn-success mb-5" (click)="export()">Export Data</button>
    <span>Import your saved app data</span>
    <input type="file" class="form-control" (change)="setFile($event)">
    <button class="btn btn-lg btn-danger" (click)="import()" [disabled]="!(file | async)">Import Data</button>
  </div>
</div>
