<div class="bg-light pb-4 pt-1 text-muted">
  <div class="row g-0">
    <div class="col">
      <a class="nav-link d-flex flex-column align-items-center" routerLink="stress" routerLinkActive="text-black">
        <i class="bi bi-activity"></i>
        <small>Well-being</small>
      </a>
    </div>
    <div class="col">
      <a class="nav-link d-flex flex-column align-items-center" routerLink="skills" routerLinkActive="text-black">
        <i class="bi bi-list-ul"></i>
        <small>Skills</small>
      </a>
    </div>
    <div class="col">
      <a class="nav-link d-flex flex-column align-items-center" routerLink="food" routerLinkActive="text-black">
        <i class="bi bi-apple"></i>
        <small>Food</small>
      </a>
    </div>
    <div class="col">
      <a class="nav-link d-flex flex-column align-items-center" routerLink="settings" routerLinkActive="text-black">
        <i class="bi bi-gear-wide-connected"></i>
        <small>Settings</small>
      </a>
    </div>
  </div>
</div>
