<div class="h-100 d-flex flex-column">
  <div class="flex-grow-1 overflow-y-auto">
    <div class="container-fluid mt-5 text-center">
      <h1 class="display-1 mb-0">Stress Level</h1>
    </div>
    <div class="container-fluid">
      <div echarts [options]="chartOption$ | async" style="max-height: 300px"></div>
    </div>
    <ul class="list-group list-group-flush mb-5">
      <li delete class="list-group-item" *ngFor="let item of data$ | async" (onDelete)="remove(item.date)">
          <div class="container-fluid font-monospace p-0">
            <div class="row">
              <div class="col-auto">{{ item.date | date:'HH:mm' }}</div>
              <div class="col-3 text-end fw-bold">{{ item.level }}</div>
            </div>
          </div>
          <p class="mb-0 small">{{ item.comment }}</p>
      </li>
    </ul>
  </div>
  <div class="bg-light shadow">
    <div class="container-fluid my-2">
      <app-day-selector (onDateChange)="day$.next($event)"></app-day-selector>
    </div>
    <div class="container-lg my-2">
      <div class="d-grid">
        <button class="btn btn-lg btn-success" (click)="showAdd$.next(true)">
          <i class="bi bi-clipboard-plus me-2"></i>
          <span>New</span>
        </button>
      </div>
    </div>
  </div>
</div>
<app-pop-up-card [show$]="showAdd$">
  <app-stress-form-add (onSave)="add($event)"></app-stress-form-add>
</app-pop-up-card>
