<div class="h-100 d-flex flex-column">
  <div class="flex-grow-1 overflow-y-auto">
    <div class="container-lg text-center my-5">
      <h1 class="display-1">Food Tracking</h1>
    </div>
    <div class="container-lg my-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of data$ | async">
          <p class="mb-1 text-muted small">{{ item.date | date: 'HH:mm:ss' }}</p>
          <p class="mb-0">{{ item.name }}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-light shadow" style="left: 0; right: 0; bottom: 0">
    <div class="container-lg my-2">
      <app-day-selector (onDateChange)="day.next($event)"></app-day-selector>
    </div>
    <div class="container-lg my-2">
      <div class="row g-2">
        <div class="col">
          <input class="form-control" placeholder="What did you eat?" [(ngModel)]="inputField">
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" (click)="add()">
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
