/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css"
@import "../node_modules/bootstrap/scss/bootstrap"

html, body, app-root
  height: 100%
  overflow-x: hidden

app-root
  display: flex
  flex-direction: column

main
  flex-grow: 1

.btn-fill
  width: 100%
  height: 100%
  padding-top: 0
  padding-bottom: 0
  border-radius: inherit
